/*

#2B3A42 - container background
#3F5765 - container light-background
#BDD4DE - main font
#EFEFEF - link hover
#FF530D - link colour

*/

body {
	background: #0D1214;
	color: #BDD4DE;
}

a {
	color: #FF530D;
	border-bottom: 1px dashed;
}

a:hover {
	color: #EFEFEF;
	border-bottom: 1px solid;
	text-decoration: none;
}

h1 {
	color: #EFEFEF;
	font: bold 72px Arial, Helvetica, sans-serif;
	letter-spacing: -0.1em;
	margin: 30px 0 0;
}

h2#slogan {
	color: #BDD4DE;
	font: 12px Verdana, Arial, sans-serif;
	margin: -13px 0 0 4px;
}

#container {
	background: #2B3A42;
}

header {
	background: -moz-linear-gradient(center top, #2B3A42 0%, #3F5765 100%) repeat scroll 0 0;
	padding: 20px;
	margin-bottom: 20px;
}

#about {
    border-bottom: 1px dashed #444444;
    color: #EFEFEF;
    font: 25px "Yanone Kaffeesatz", Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 15px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}